@import "../../../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.block {
  display: flex;
  justify-content: center;
}

.map {
  max-width: 550px;
  position: relative;

  @media (max-width: 1010px) {
    max-width: 350px;
  }

  @media (max-width: 650px) {
    display: none;
  }

  svg {
    max-width: 100%;
    height: auto;

    & > path {
      &:hover {
        fill: $dm-pink;
        cursor: pointer;
      }
    }
  }
}

.rostov {
  position: absolute;
  top: 350px;
  left: 25%;
  cursor: pointer;

  @media (max-width: 1010px) {
    top: 215px;
  }

  img {
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 5px;
    text-shadow: 0px 1px 3px #F79223, 0px 1px 0px rgba(0, 0, 0, 0.15);
  }
}

.content {
  width: 450px;

  @media (max-width: 1010px) {
    width: 350px;
  }

  @media (max-width: 650px) {
    max-width: 100%;
      padding: 25px 0;
      background: url("./images/territory-bg.png") center center no-repeat;
  }
}

.object {
  font-size: 52px;
  color: #060807;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
  height: 156px;

  @media (max-width: 1010px) {
    font-size: 24px;
    height: 48px;
  }

  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.info {
  table {
    font-size: 20px;
    line-height: 1;
    color: #060807;
    font-weight: 700;

    @media (max-width: 1010px) {
      font-size: 16px;
    }

    @media (max-width: 650px) {
      margin: 0 auto;
    }

    tr {
      td {
        &:first-child {
          text-align: right;
          font-size: 52px;
          line-height: 1.4;
          color: $dm-pink;
          padding-right: 15px;

          @media (max-width: 1010px) {
            font-size: 30px;
          }

          @media (max-width: 650px) {
            font-size: 25px;
          }
        }
      }
    }
  }
}
