@import "../../../assets/styles/variables";

.headerTopSearch {
  padding: 0 1px 0 0;
  background: none;
  border: none;
  width: 26px;
  height: 26px;
  background: #fff;
  transition: $transition-base;

  svg {
    path {
      transition: $transition-base;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $dm-pink;
      }
    }
  }
}
