@import "../../../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}

.item {
  width: 25%;
  margin-bottom: 15px;
  padding: 0 7px;

  @include media-breakpoint-down(lg) {
    width: 33.33%;
    padding-right: 7px;
  }

  &:first-child {
    width: calc(75% + 7px);
    padding-right: 0;

    @include media-breakpoint-down(lg) {
      width: 100%;
      padding-right: 7px;
    }
  }

  &.mainNewsCarousel {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &.firstImportant {
    width: calc(25% - 7px);
    padding-left: 0;

    @include media-breakpoint-down(lg) {
      width: 33.33%;
      padding-left: 7px;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
