.banner {
  position: relative;
  background-size: 100% 100%;
  padding-bottom: 27%;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
    max-width: 450px;
  }
}

.mobileBanner {
  background: url("./images/mobile-banner.png") center center;
  background-size: 100% 100%;
  text-align: center;
  padding: 130px 20px;

  img {
    max-width: 100%;
  }
}
