.about-page {
  padding-bottom: 120px;

  .sidebar-sticky {
    @media (max-width: 1024px) {
      margin-bottom: 60px;
    }

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  .about-text {
    margin-bottom: 40px;
  }

  .committee {
    max-width: 790px;

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }

    @media (max-width: 1024px) {
      max-width: 100%;
    }

    &__title {
      line-height: 1.1;
      border-bottom: 3px solid $dm-yellow;
      padding-bottom: 10px;
    }

    &__more {
      border: 2px solid #FFC63F;
      height: 34px;
      padding: 0 35px 0 20px;
      border-radius: 34px;
      font-weight: 600;
      color: #FFC63F;
      background: url("../../images/yellow-cheron-down.svg") center right 15px no-repeat;

      &--open {
        background: url("../../images/yellow-cheron-up.svg") center right 15px no-repeat;
      }
    }
  }
}

.committee-personal-list {
  &--direction {
    margin: -30px 0;
  }

  &__item {
    padding: 30px 0;
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      border-bottom: 5px solid #F8F8F8;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 45px;
    min-width: 134px;
    flex: 0 0 134px;

    @media (max-width: 600px) {
      min-width: 82px;
      flex: 0 0 82px;
      margin-right: 17px;
    }

    img {
      max-width: 100%;
    }
  }

  &__name {
    font-size: 24px;
    line-height: 1.2;
    color: #060807;
    margin-bottom: 10px;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__job {
    line-height: 1.2;
    color: #4EC2B7;
    margin-bottom: 10px;
  }
}

.contacts {
  &__item {
    display: flex;
    margin-bottom: 12px;

    &--committee-personal {
      margin-bottom: 3px;
    }
  }

  &__icon {
    flex: 0 0 12px;
    min-width: 12px;
    text-align: center;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: inherit !important;
  }
}
