@import "../variables";

.common-button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  background-image: url("../../images/button-bg.png");
  background-size: 100% 100%;
  padding: 11px 30px 15px 30px;

  &--territory {
    background-image: url("../../images/button-bg--territory.png");
  }

  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 11px;
    background: url("../../images/button-chevron.svg");
    margin-left: 10px;
    margin-bottom: 3px;
  }

  span {
    vertical-align: middle;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
    background-image: url("../../images/button-bg-hover.png");
  }
}

.actual-realize-buttons {
  display: flex;

  @media (max-width: 1100px) {
    width: 280px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  a,
  button {
    border: 2px solid #4EC2B7;
    background: none;
    height: 33px;
    width: 180px;
    text-transform: uppercase;
    color: #4EC2B7;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 29px;
    position: relative;

    @media (max-width: 1100px) {
      width: 100%;
      font-size: 12px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      right: 2px;
      bottom: 2px;
      background: $dm-pink;
      display: none;
    }

    span {
      position: relative;
      top: 1px;
    }

    &.active {
      color: #fff;
      background: #4EC2B7;
    }

    &:hover {
      color: #fff;
      background: #4EC2B7;

      &:before {
        display: block;
      }

      span {
        top: -3px;
        left: -4px;
      }
    }
  }

  &--flagship {
    a,
    button {
      border: none;
      background: #F8F8F8;
      color: #B8B8B8;
      text-transform: capitalize;
      font-weight: 400;

      span {
        top: 2px;
      }

      &:hover {
        color: #fff;
        background: #4EC2B7;

        &:before {
          display: block;
        }

        span {
          top: -2px;
          left: -4px;
        }
      }
    }
  }
}
