//@import "~react-day-picker/lib/style.css";
//
//.select-date {
//  width: 100%;
//
//  .DayPicker-Months {
//    justify-content: space-between;
//  }
//
//  .DayPicker-Month {
//    margin: 0 0 1em;
//  }
//
//  .DayPicker-Day--selected {
//    background: rgba(255, 198, 63, 0.25);
//  }
//
//  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
//    background: #FFC63F;
//    color: #444444;
//  }
//
//  .DayPicker-Day {
//    border-radius: 0;
//    padding: 0.5rem 0.7rem;
//    border: 8px solid #fff;
//  }
//
//  .DayPicker-Day--today {
//    color: #444444;
//  }
//
//  .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
//    background: rgba(255, 198, 63, 0.25);
//  }
//}
//


@import '~react-dates/lib/css/_datepicker.css';

.CalendarDay__default,
.CalendarDay__default:active,
.CalendarDay__default:hover {
  border: none;
  font-size: 20px;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #FFC63F;
  color: #444444;
}

.CalendarDay__selected_span,
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #FFC63F;
  color: #444444;
  border: none;
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:active,
.CalendarDay__hovered_span:hover {
  background: #FFC63F;
  color: #444444;
  border: none;
}

