.direction-page {
  margin: 0 0 50px;

  @media (max-width: 1024px) {
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }

  &__block {
    margin-bottom: 60px;
    max-width: 790px;
  }

  &__title {
    line-height: 1.1;
    border-bottom: 3px solid $dm-yellow;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }

  &__content {
    color: #444444;
    margin-bottom: 30px;
    overflow: hidden;
    height: auto;
  }

  &__show-content {
    border: 2px solid #FFC63F;
    height: 34px;
    padding: 0 35px 0 20px;
    border-radius: 34px;
    font-weight: 600;
    color: #FFC63F;
    background: url("../../images/yellow-cheron-down.svg") center right 15px no-repeat;

    &--open {
      background: url("../../images/yellow-cheron-up.svg") center right 15px no-repeat;
    }
  }
  
  .col-sidebar {
    @media (max-width: 1010px) {
      display: none;
    }
  }
}

.direction-links {
  &__item {
    font-size: 16px;
    color: #FFC63F !important;
    display: table;
    margin-bottom: 20px;
    text-decoration: underline !important;

    span {
      color: #444444 !important;
    }
  }
}

.doc-list {
  display: flex;
  margin: 0 -20px 10px;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    min-width: 50%;
    padding: 0 20px 20px;

    @media (max-width: 575px) {
      flex: 0 0 100%;
      min-width: 100%;
    }

    a {
      display: flex;
      text-decoration: none;
      color: #444444;

      img {
        margin-right: 20px;
        min-width: 33px;
        flex: 0 0 33px;
      }

      span {

      }
    }
  }
}

.partners-list {
  display: flex;
  margin: 0 -20px 10px;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    min-width: 50%;
    padding: 0 20px 20px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    color: #444444 !important;

    @media (max-width: 575px) {
      flex: 0 0 100%;
      min-width: 100%;
    }
  }

  &__icon {
    min-width: 70px;
    flex: 0 0 70px;
    margin-right: 30px;
    text-align: center;

    img {
      max-width: 100%;
    }
  }
}
