.flagship-page {
  padding-bottom: 120px;
  overflow: hidden;

  .flagship-list {
    @media (max-width: 767px) {
      margin: 0 -28px;
    }
  }

  .actual-realize-buttons{
    margin-bottom: 40px;
  }
}
