@import "../variables";

.flagship-carousel {
  margin: 0 -8px;

  &__item {
    padding: 0 8px;
  }

  .slick-dots {
    margin: 60px 8px 0;

    @include media-breakpoint-down(md) {
      margin: 20px 8px 0;
    }
  }
}
