html,
body,
#root{
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  margin-top: 80px;
  padding-top: 70px;
  flex: 1 0 auto;

  @include media-breakpoint-down(lg) {
    margin-top: 53px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 40px;
    padding-top: 50px;
  }
}

.home-wrap {
  margin-top: -70px;
}

.footer {
  flex: 0 0 auto;
}

.common-title {
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  background: url("../../images/title-bg.png") center center no-repeat;
  background-size: 100% 100%;
  display: table;
  padding: 10px 40px 15px 50px;
  margin: 0 0 20px -50px;

  @include media-breakpoint-down(lg) {
    margin: 0 0 20px -30px;
    font-size: 24px;
    padding: 8px 18px 12px 32px;
    line-height: 30px;
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 20px 0;
  }
}

.main-title {
  margin-bottom: 40px;

  @media (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.common-date-block {
  position: absolute;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  background: url("../../images/date-bg.png") center center no-repeat;
  background-size: 100% 100%;
  min-width: 169px;
  height: 71px;
  text-align: center;
  padding: 11px 15px 0;

  @include media-breakpoint-down(lg) {
    padding-top: 14px;
  }
}

.mobile-all-albums {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: 700;
  color: #FD3358 !important;
  display: block;
  height: 100%;

  img {
    width: auto !important;
  }

  span {
    margin-top: 5px;
  }
}

.slider-dotted-line {
  .slick-dots {
    list-style: none;
    display: flex !important;
    padding: 0;
    background: #c3c3c3;

    li {
      flex: 1;

      button {
        width: 100%;
        padding: 0;
        font-size: 0;
        border: none;
        height: 10px;
        display: block;
        background: none;
      }

      &.slick-active {
        button {
          background: $dm-yellow;
        }
      }
    }
  }
}

.filter-dropdown {
  .dropdown-toggle {
    border-radius: 0;
    border: none;
    background: #F8F8F8;
    color: #B8B8B8;
    width: 180px;
    height: 34px;
    padding: 0;

    &:focus,
    &:active {
      background: #F8F8F8 !important;
      box-shadow: none !important;
    }

    span {
      position: relative;
    }

    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    border: none;
    background: #4EC2B7;
    width: 100%;
    text-align: center;

    a,
    button {
      font-size: 16px;
      font-weight: 600;
      color: #fff;

      &:hover {
        background: $dm-pink;
      }
    }
  }

  &.show {
    .dropdown-toggle {
      background: #4EC2B7 !important;
      box-shadow: none !important;
      color: #fff;
      font-weight: 600;

      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        width: 100%;
        height: 100%;
        background: $dm-pink;
      }

      span {
        top: -4px;
        left: -4px;
      }
    }
  }
}

.show-more {
  background: #4EC2B7;
  width: 180px;
  height: 34px;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  display: block;
  margin: 0 auto;

  &.isLoading {
    font-size: 0;

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 3px solid #fff;
      border-right-color: transparent;
      border-radius: 50%;
      margin: 0 auto;
      animation: spinner .75s linear infinite;
    }
  }

  &:hover {
    background: $dm-pink;
  }
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.sidebar-sticky {
  position: sticky;
  top: 150px;

  .sidebar-block {
    padding: 20px 10px 40px;

    @media (max-width: 1010px) {
      padding: 20px 0 40px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  h3 {
    @media (max-width: 1010px) {
      line-height: 1.1;
      border-bottom: 3px solid #FDBE17;
      padding-bottom: 10px;
    }
  }
}

.col-sidebar {
  flex: 0 0 340px;
  max-width: 340px;

  @media (max-width: 1024px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
  color: #060807;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 1.5rem;

  @media (max-width: 500px) {
    font-weight: 400;
  }
}
