@import "../variables";

.main-news {
  @include media-breakpoint-down(lg) {
    margin: 0 -15px;
  }

  &__item {
    position: relative;
    text-decoration: none;
    color: $dm-dark;
    padding-right: 15px;

    @include media-breakpoint-down(lg) {
      padding: 0 15px;
    }

    &:hover {
      text-decoration: none;
      color: $dm-dark;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__date {
    right: 6px;
    bottom: 114px;

    @include media-breakpoint-down(lg) {
      bottom: 80px;
    }
  }

  &__title {
    //background: linear-gradient(90deg, #FDBE17 0%, #F79223 100%);
    background: url("../../images/news-overlay.svg");
    background-size: cover;
    padding: 0 100px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    height: 153px;
    position: relative;
    line-height: 1.4;
    margin: -8px 0 0;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      height: 120px;
    }

    //&:before {
    //  content: "";
    //  width: 100%;
    //  height: 15px;
    //  background: url("../../images/main-news__title.png");
    //  background-size: 100% 100%;
    //  position: absolute;
    //  top: -15px;
    //  left: 0;
    //}

    span {
      margin: auto;
    }
  }

  .slick-arrow {
    width: 50px;
    height: 70px;
    position: absolute;
    bottom: 40px;
    font-size: 0;
    border: none;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      bottom: 25px;
    }

    &.slick-prev {
      left: 10px;
      background: url("../../images/main-news--left.svg") center center no-repeat;
    }
    &.slick-next {
      right: 25px;
      background: url("../../images/main-news--right.svg") center center no-repeat;

      @include media-breakpoint-down(lg) {
        right: 10px;
      }
    }
  }

  .slick-dots {
    position: absolute;
    top: 20px;
    right: 43px;
    list-style: none;
    padding: 0;
    display: flex !important;
    flex-wrap: wrap;

    li {
      font-size: 0;

      button {
        padding: 0;
        width: 7px;
        height: 7px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        margin-left: 10px;
        background: none;
      }

      &.slick-active {
        button {
          background: #fff;
        }
      }
    }
  }
}
