.news-block {
  padding: 30px 0 0;
}

.flagship-block {
  padding: 70px 0;

  @include media-breakpoint-down(lg) {
    padding: 30px 0;
  }
}

.opportunity-block {
  padding: 70px 0 20px;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    padding: 20px 0;
  }
}

.directions-block {
  padding: 20px 0 80px;

  @include media-breakpoint-down(lg) {
    padding: 20px 0 0;
  }
}

.media-block {
  padding: 80px 0 60px;

  @include media-breakpoint-down(lg) {
    padding: 20px 0;
  }
}

.territory-block {
  padding: 60px 0 120px;

  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }
}
