.media-block {
  background: url("../../images/media-bg.jpg") center center no-repeat;
  background-size: contain;
  
  @media (max-width: 1280px) {
    background: none;
  }
}

.photo-item {
  margin-bottom: 16px;
  display: block;
  text-decoration: none !important;

  @include media-breakpoint-down(md) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }

  &__title {
    height: 85px;
    //background: linear-gradient(90deg, #FDBE17 0%, #F79223 100%);
    background: url("../../images/media-overlay.svg");
    background-size: cover;
    padding: 10px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    color: #060807;
    font-weight: 600;
    position: relative;
    margin: -15px 0 0;

    //&:before {
    //  content: "";
    //  width: 100%;
    //  height: 15px;
    //  background: url("../../images/main-news__title.png");
    //  background-size: 100% 100%;
    //  position: absolute;
    //  top: -15px;
    //  left: 0;
    //}
  }
}

.video-block {
  margin-bottom: 16px;

  .slick-arrow {
    width: 50px;
    height: 70px;
    position: absolute;
    bottom: 40px;
    font-size: 0;
    border: none;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      bottom: 25px;
    }

    &.slick-prev {
      left: 10px;
      background: url("../../images/main-news--left.svg") center center no-repeat;
    }
    &.slick-next {
      right: 10px;
      background: url("../../images/main-news--right.svg") center center no-repeat;
    }
  }

  .slick-dots {
    position: absolute;
    top: 15px;
    right: 15px;
    list-style: none;
    padding: 0;
    display: flex !important;
    flex-wrap: wrap;

    @media (max-width: 650px) {
      position: static;
      background: #c3c3c3;
      margin-top: 14px;
      flex-wrap: nowrap;
    }

    li {
      font-size: 0;

      @media (max-width: 650px) {
        flex: 1;
      }

      button {
        padding: 0;
        width: 7px;
        height: 7px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        margin-left: 10px;
        background: none;

        @media (max-width: 650px) {
          width: 100%;
          padding: 0;
          font-size: 0;
          border: none;
          height: 10px;
          display: block;
          border-radius: 0;
          margin: 0;
        }
      }

      &.slick-active {
        button {
          background: #fff;

          @media (max-width: 650px) {
            background: $dm-yellow;
          }
        }
      }
    }
  }
}

.video-item {
  &__image {
    height: 303px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
      height: auto;
    }

    &:after {
      content: "";
      position: absolute;
      background: url("../../images/youtube.png") center center no-repeat;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  &__title {
    height: 150px;
    //background: linear-gradient(90deg, #FDBE17 0%, #F79223 100%);
    background: url("../../images/news-overlay.svg");
    background-size: cover;
    padding: 10px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: #060807;
    font-weight: 600;
    position: relative;
    margin: -10px 0 0;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      height: 120px;
    }

    @media (max-width: 650px) {
      padding: 10px;
      font-size: 13px;
      height: 80px;
    }

    //&:before {
    //  content: "";
    //  width: 100%;
    //  height: 15px;
    //  background: url("../../images/main-news__title.png");
    //  background-size: 100% 100%;
    //  position: absolute;
    //  top: -15px;
    //  left: 0;
    //}
  }
}

.media-mobile-carousel {
  margin: 0 -8px 50px;

  .photo-item {
    padding: 0 8px;
  }

  .slick-dots {
    list-style: none;
    display: flex !important;
    margin: 14px 8px 0;
    padding: 0;
    background: #c3c3c3;

    li {
      flex: 1;

      button {
        width: 100%;
        padding: 0;
        font-size: 0;
        border: none;
        height: 10px;
        display: block;
      }

      &.slick-active {
        button {
          background: $dm-yellow;
        }
      }
    }
  }
}


