.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  bottom: 0;
  z-index: 100;
  background: #fff;
  padding: 20px;
  display: none;

  &--contacts {
    background: $dm-dark
  }

  &--open {
    display: block;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background: url("../../images/close.svg");
    background-size: 100% 100%;
  }

  &__menu {
    padding: 54px 33px 25px;

    a {
      font-size: 18px;
      display: block;
      color: #111111;
      text-decoration: none;
      margin-bottom: 14px;

      &.active {
        color: $dm-pink;
      }
    }
  }

  &__search {
    border: 1px solid $dm-yellow;
    margin-bottom: 45px;

    input {
      border: none;
      background: none;
      height: 38px;
      flex: 1;
      padding: 0 10px;
      font-size: 18px;
    }

    button {
      min-width: 38px;
      height: 38px;
      background: url("../../images/mobile-search-button.svg") center center no-repeat;
      border: none;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 0 6px;
      max-height: 26px;
    }
  }

  &__contacts {
    padding: 50px 30px;
  }

  &__contacts-title {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__social {
    a {
      opacity: .5;
      margin-right: 20px;
    }
  }
}
