.mobile-directions {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 53px;
  z-index: 30;

  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 767px) {
    top: 40px;
  }

  &__button {
    width: 100%;
    height: 40px;
    background: #FFC63F url("../../images/mobile-directions__button.svg") center right 40px no-repeat;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding: 0 40px;

    @media (max-width: 767px) {
      padding: 0 20px;
      background-position: center right 25px;
    }

  }
}
