.common-modal-dialog {
  max-width: 100%;
  margin: 0;
  height: 100%;

  .modal-content {
    padding: 55px 20px 90px;
    border-radius: 0;
    border: none;
    min-height: 100%;

    @media (max-width: 1200px) {
      padding: 70px 20px;
    }
  }

  .modal-header {
    padding: 0;
    border: none;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  .modal-title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 45px;

    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 40px;
      font-weight: 600;
    }
  }

  .close {
    font-size: 0;
    padding: 0;
    margin: 5px 0 0;
    width: 35px;
    height: 35px;
    background: url("../../images/close.svg") center center no-repeat;
    background-size: 100% 100%;

    @media (max-width: 1024px) {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }

  .modal-body {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;


    input {
      box-shadow: inset 0 4px 10px rgba(13, 38, 64, 0.07);
      background: #F8F8F8;
      border: 1px solid #E5E5E5;
      font-size: 36px;
      padding: 0 15px;
      height: 80px;
      width: 100%;
      color: #000;
    }

    .direction-list {
      column-count: 3;
      margin: 0 auto;

      @media (max-width: 1024px) {
        column-count: 2;
        width: 180%;
      }

      &--territory {
        column-count: 1;

        @media (max-width: 1024px) {
          width: 150%;
        }

        @media (max-width: 650px) {
          width: 200%;
        }

        @media (max-width: 450px) {
          width: 350%;
        }
      }

      a,
      button {
        background: none;
        border: none;
        margin: 0 0 10px;
        font-size: 20px;
        padding-left: 30px;
        color: #444444 !important;
        text-decoration: none !important;
        position: relative;
        display: block;
        text-align: left;

        @media (max-width: 1024px) {
          padding: 0 5px;
          font-size: 18px;
          margin: 0 0 16px;
        }

        &.region {
          font-size: 14px;
          margin: 0 0 8px;
        }

        &:hover {
          font-weight: 700;
        }

        &.active {
          font-weight: 700;

          &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $dm-pink;
            top: 13px;
            left: 0;

            @media (max-width: 1010px) {
              display: none;
            }
          }

          &.region {
            &:before {
              top: 9px;
            }
          }
        }
      }
    }

    .date-range {
      display: flex;
      justify-content: center;

      @media (max-width: 1150px) {
        display: none;
      }

      &__item {
        &:first-child {
          margin-right: 80px;

          @media (max-width: 1300px) {
            margin-right: 0;
          }
        }

        &:last-child {
          flex: 0 0 370px;
          min-width: 370px;
        }
      }

      &__title {
        font-size: 1.3rem;
        margin-bottom: 25px;
      }

      &__output {
        border: 1px solid #E5E5E5;
        line-height: 50px;
        height: 50px;
        text-align: center;
        box-shadow: inset 0 4px 10px rgba(13, 38, 64, 0.07);
        background: #F8F8F8;
        margin-bottom: 60px;
        font-size: 1.5rem;
      }

      &__reset {
        width: 100%;
        background: #F8F8F8;
        height: 50px;
        border: none;
        color: #B8B8B8;
        font-size: 1.3rem;
        margin-bottom: 20px;

        &:hover {
          background: $dm-pink;
          color: #fff;
        }

        &:disabled {
          opacity: .5;
          background: #F8F8F8;
          color: #B8B8B8;
        }
      }

      &__apply {
        width: 100%;
        background: #4EC2B7;
        height: 50px;
        border: none;
        color: #FFFFFF;
        font-size: 1.3rem;

        &:hover {
          background: $dm-pink;
        }

        &:disabled {
          opacity: .5;
          background: #4EC2B7;
        }
      }
    }

    .date-range-mobile {
      display: none;

      @media (max-width: 1150px) {
        display: block;
      }

      &__title {
        font-size: 13px;
        color: #060807;
        margin-bottom: 10px;
      }

      &__date {
        margin: 0 -2px 25px;
        display: flex;

        select {
          box-shadow: inset 0 4px 10px rgba(13, 38, 64, 0.07);
          border: 1px solid #E5E5E5;
          background: #F8F8F8 url("../../images/red-cheron-down.svg") center right 8px no-repeat;
          padding: 0 8px;
          height: 40px;
          font-size: 18px;
          margin: 0 2px;
          color: #060807;
          appearance: none;

          &:nth-child(1) {
            flex: 1;
          }

          &:nth-child(2) {
            flex: 0 0 60px;
          }

          &:nth-child(3) {
            flex: 0 0 90px;
          }
        }

        + .hub-modal__btn {
          margin-top: 100px;
        }
      }
    }

    .hub-modal {
      &__btn {
        border: none;
        background: #4EC2B7;
        height: 50px;
        color: #FFFFFF;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
        display: block;
        text-align: center;
        line-height: 50px;
        text-decoration: none;

        &--reset {
          background: #F8F8F8;
          color: #B8B8B8;
        }
      }
    }
  }
}
