.news-list-page {
  padding-bottom: 120px;

  @media (max-width: 767px) {
    padding-bottom: 60px;
  }

  .mobile-filter {
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 30px;
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    &--active {
      background: $dm-pink;

      svg {
        path {
          fill: #fff;
        }
      }
    }

    @media (max-width: 767px) {
      display: block;
    }
  }

  .filter-dropdown{
    margin-bottom: 40px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .show-more {
    margin-top: 60px;

    @media (max-width: 1024px) {
      margin-top: 50px;
    }

    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }
}

.news-list {
  &__item {
    display: flex;
    margin-bottom: 30px;
    text-decoration: none !important;
    color: #444444 !important;

    @media (max-width: 1024px) {
      display: block;
      margin-bottom: 40px;
    }
  }

  &__image {
    flex: 0 0 400px;
    min-width: 400px;

    @media (max-width: 1010px) {
      min-width: 0;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    flex: 1;
    padding-left: 70px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1010px) {
      padding: 15px 0 0;
    }
  }

  &__date {
    color: $dm-pink;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    color: #060807 !important;
    text-decoration: none !important;
    margin-bottom: 20px;
    display: block;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__preview-text {
    flex: 1
  }

  p {
    font-weight: 300;

    @media (max-width: 1010px) {
      display: none;
    }
  }

  &__more {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #B8B8B8 !important;

    @media (max-width: 1010px) {
      display: none;
    }

    span {
      margin-right: 9px;
      vertical-align: middle;
    }

    img {
      vertical-align: middle;
      transition: all .2s ease-in-out;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }
  }
}
