.news-detail-page {
  padding-bottom: 120px;

  .position-sticky {
    top: 150px;
  }

  .sidebar-title {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #B8B8B8;
    margin-bottom: 15px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 13px;
      height: 13px;
      left: -25px;
      background: url("../../images/news-more.svg");
    }
  }

  .sidebar-news-block {
    padding-bottom: 33px;
    margin-bottom: 35px;
    border-bottom: 6px solid #F8F8F8;
    font-size: 18px;
    line-height: 1.2;
    color: #060807 !important;
    text-decoration: none !important;
    display: block;
    //min-height: 70px;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    &:hover {
      border-bottom: 6px solid #FFC63F;
    }
  }

  .sidebar-more {
    display: block;
    width: 180px;
    padding: 6px 0;
    background: #4EC2B7;
    text-align: center;
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 600;
    margin: 12px 0 0 25px;

    @media (max-width: 1024px) {
      margin: 12px auto 0;
    }
  }

  .sidebar-news {
    padding-left: 25px;
  }
}

.news-detail {
  max-width: 790px;

  &__main-image {
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  &__date {
    color: $dm-pink;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  p {
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0;

    @media (max-width: 1024px) {
      margin: 20px 0;
    }

    a {
      padding: 9px 20px 7px;
      background: #F8F8F8;
      text-decoration: none !important;
      margin: 0 15px 15px 0;
      color: #B8B8B8;
      text-transform: uppercase;
      font-size: 12px;

      &:hover {
        background: #FFC63F;
        color: #060807;
      }
    }
  }

  &__content {

  }

  .news-detail-block {
    display: flex;
    margin: 20px -10px;
    
    @media (max-width: 767px) {
      display: block;
    }

    &--top-line {
      padding-top: 20px;
      border-top: 6px solid #F8F8F8;
    }

    &--bottom-line {
      padding-bottom: 20px;
      border-bottom: 6px solid #F8F8F8;
    }

    &:nth-child(2n+1) {
      .news-detail-block__media {
        order: 1;
      }

      .news-detail-block__text {
        order: 2;
      }
    }

    &:nth-child(2n) {
      .news-detail-block__media {
        order: 2;
      }

      .news-detail-block__text {
        order: 1;
      }
    }

    &__media {
      padding: 0 10px;
      flex: 1;

      img {
        width: 100%;
      }
    }

    &__media-label {
      font-size: 13px;
      text-align: center;
      color: #999;
      font-style: italic;
      margin-top: 5px;
    }

    &__text {
      padding: 0 10px;
      flex: 1;
    }
  }

  .opportunity-info {
    background: #F8F8F8;
    border-bottom: 3px solid $dm-yellow;
    padding: 25px 30px;

    @media (max-width: 767px) {
      padding: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
      color: #060807;
      font-weight: 600;
      margin: 5px 0;

      @media (max-width: 767px) {
        font-weight: 400;
      }
    }

    &__icon {
      width: 15px;
      text-align: center;
      margin-right: 15px;

      img {
        height: 14px;
        display: block;
      }
    }

    a {
      color: #060807 !important;
      text-decoration: none !important;
    }
  }
}
