.opportunity-list {
  @media (max-width: 767px) {
    margin: 0 -28px;
  }

  &__item {
    display: block;
    position: relative;
    text-decoration: none !important;
  }

  &__image {
    position: relative;

    img {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #303030;
      opacity: .4;
    }
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }

  &__text {
    height: 95px;
    background: linear-gradient(90deg, #FDBE17 0%, #F79223 100%);
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #060807;
    font-weight: 600;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 15px;
      background: url("../../images/main-news__title.png");
      background-size: 100% 100%;
      position: absolute;
      top: -15px;
      left: 0;
    }
  }

  &__text-item {
    display: flex;
    margin: 2px 0;
  }

  &__text-icon {
    width: 24px;
    text-align: center;
    margin-right: 7px;
  }

  &__date {
    padding-right: 10px;
    padding-left: 10px;
    right: -9px;
    bottom: 70px;
  }
}
