.opportunity-page {
  padding-bottom: 120px;
  overflow: hidden;

  .mobile-filter {
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 30px;
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  .main-title {
    flex: 1;
  }

  .show-more {
     margin-top: 60px;
  }

  .filter-dropdown,
  .actual-realize-buttons {
    margin-bottom: 40px;
    margin-left: 15px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}
