.search-page {
  margin-bottom: 60px;

  .search-form {
    margin-bottom: 60px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    input {
      flex: 1;
      background: #fcfcfc;
      border: 1px solid #E5E5E5;
      box-sizing: border-box;
      box-shadow: inset 0 4px 10px rgba(13, 38, 64, 0.07);
      padding: 0 15px;
      font-size: 36px;
      color: #444;

      @media (max-width: 767px) {
        height: 40px;
        font-size: 13px;
      }
    }

    button {
      height: 80px;
      flex: 0 0 80px;
      min-width: 80px;
      background: none;
      border: none;
      padding: 0;

      @media (max-width: 767px) {
        display: none;
      }

      &:hover {
        background: $dm-pink;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
  }

  .search-title {
    font-size: 24px;
    color: #060807;
    border-bottom: 5px solid $dm-yellow;
    font-weight: 600;
    padding: 10px 0;

    @media (max-width: 767px) {
      font-size: 18px;
      font-weight: 400;
    }

    b {
      color: $dm-pink;

      @media (max-width: 767px) {
        font-weight: 400;
      }
    }
  }

  .search-result {
    &__item {
      display: block;
      text-decoration: none;
      padding: 40px 0 45px;
      border-bottom: 5px solid #F8F8F8;
      color: #444;

      &:hover {
        border-color: $dm-yellow;
      }
    }

    &__type {
      text-transform: uppercase;
      color: $dm-pink;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 24px;
      text-decoration: none;
      color: #060807;
      display: block;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}
