@import '~slick-carousel/slick/slick.scss';

.slick-track {
  display: flex;
  align-items: stretch;
}

.slick-slide {
  float: none;
  height: auto;
  min-height: 1px;

  & > div {
    height: 100%;
  }
}
