.territory-page {
  margin-bottom: 120px;

  @media (max-width: 1024px) {
    margin-top: 40px;
  }

  .territory-select {
    width: 100%;
    background: #4EC2B7;
    border: none;
    font-weight: 600;
    color: #FFFFFF;
    height: 34px;
    position: relative;
    margin: 14px 0 40px;

    @media (max-width: 1010px) {
      display: none;
    }

    span {
      position: relative;
    }

    &:hover {
      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        width: 100%;
        height: 100%;
        background: $dm-pink;
      }

      span {
        top: -4px;
        left: -4px;
      }
    }
  }
}

.territory-info {
  max-width: 790px;

  &__container {
    margin: 0 0 20px;
  }

  &__title {
    line-height: 1.1;
    border-bottom: 3px solid $dm-yellow;
    padding-bottom: 10px;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      margin: 0;
    }
  }

  &__block {
    padding: 30px 0;
    display: flex;
    align-items: flex-start;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__logo {
    margin-right: 45px;
    min-width: 140px;
    display: flex;
    
    @media (max-width: 767px) {
      margin: 0 auto 20px;
    }

    img {
      max-width: 100%;
      margin: auto;
    }
  }

  &__committee-name {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 15px;
    color: #060807;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  .committee-statistics {
    &__item {
      display: flex;
      padding: 7px 0;

      b {
        color: $dm-pink;
      }
    }

    &__icon {
      width: 25px;
      text-align: center;
      margin-right: 10px;
    }
  }
}
