@import "../../../../../assets/styles/variables";

.block {
  display: flex;
  margin-bottom: 30px;
  
  @media (max-width: 575px) {
    display: block;
  }
}

.item {
  position: relative;

  a {
    background: #F8F8F8;
    display: block;
    line-height: 34px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: #B8B8B8;
    position: relative;

    @media (max-width: 575px) {
      width: 100%;
    }

    &:hover {
      background: #4EC2B7;
      color: #fff;

      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        width: 100%;
        height: 100%;
        background: $dm-pink;
      }

      span {
        position: relative;
        top: -4px;
        left: -4px;
      }
    }

    &.active {
      background: #4EC2B7;
      color: #fff;
      font-weight: 600;

      span {
        top: 0;
        left: 0;
      }

      &:before {
        display: none;
      }
    }
  }

  &:hover {
    > a {
      background: #4EC2B7;
      color: #fff;
    }

    .dropdown {
      display: block;
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  min-width: 100%;
  z-index: 10;

  a {
    background: #4EC2B7;
    color: #fff;
  }
}


