.buttonWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  padding: 13px 0;
  background: #FCFCFC;
  z-index: 10;
  color: #B8B8B8;
  font-weight: 600;
  cursor: pointer;

  @media (max-width: 1279px) {
    top: 53px;
  }

  @media (max-width: 1024px) {
    padding: 8px 0;
  }

  @media (max-width: 767px) {
    top: 40px;
  }
}

.buttonWrapperOffset {
  @media (max-width: 1024px) {
    top: 93px;
  }

  @media (max-width: 767px) {
    top: 80px;
  }
}

.buttonIconBack {
  width: 7px;
  height: 7px;
  margin-right: 10px;
  background: url("../../../assets/images/buttonIconBack.svg") left center no-repeat;

}

.buttonIconTop {
  width: 7px;
  height: 7px;
  margin-right: 10px;
  background: url("../../../assets/images/buttonIconBack.svg") left center no-repeat;
  transform: rotate(90deg);
}
