@import "../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.block {
  margin-bottom: 65px;

  @media (max-width: 1279px) {
    margin-bottom: 30px;
  }
}

.item {
  display: flex;
  text-decoration: none !important;
  color: #C4C4C4;
  margin-bottom: 6px;
  transition: $transition-base;
  font-weight: 300;
  font-size: 16px;
  
  &:hover {
    color: #fff;
  }
}

.icon {
  width: 12px;
  text-align: center;
  margin-right: 11px;
}

.text {
  max-width: 150px;
}
