@import "../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(11, 11, 11, .8);
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content {
  width: 100%;
  max-width: 900px;
  position: relative;
}

.close {
  border: none;
  background: none;
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: -44px;
  top: -44px;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  filter: alpha(opacity=65);
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial,Baskerville,monospace;

  @include media-breakpoint-down(lg) {
    right: 0;
  }
}
