@import "../../../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.list {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;

  @include media-breakpoint-down(md) {
    margin: 0 -20px;
  }
}

.item {
  margin: 0 10px 15px;
  width: 220px;
  height: 57px;
  background: url("./images/directions-bg.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #060807;
  padding: 0 10px 5px;
  font-weight: 600;
  line-height: 1;

  &:nth-child(1),
  &:nth-child(10) {
    margin-left: 20px;

    @media (max-width: 1010px) {
      margin-left: 10px;
    }
  }

  &:nth-child(4),
  &:nth-child(13) {
    margin-right: 20px;

    @media (max-width: 1010px) {
      margin-right: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    background: #FFC63F;
    border-bottom: 4px solid #71CDEE;
    margin: 0 10px 10px !important;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    padding: 0 10px;
  }

  &:hover {
    text-decoration: none;
    color: #060807;
  }
}
