@import "../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.block {
  max-width: 500px;
  display: flex;

  @media (max-width: 1280px) {
    margin: 0 auto;
  }

  @include media-breakpoint-down(sm) {
    display: block;
  }

  input {
    padding: 0 30px;
    background: #FFFFFF;
    border: none;
    height: 40px;
    flex: 1;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  button {
    height: 40px;
    border: none;
    background: $dm-pink;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    flex: 0 0 155px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.toast {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 50;
}
