@import "../../../assets/styles/variables";
@import '~bootstrap/scss/mixins';

.block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  box-shadow: 0 0 10px rgba(13, 38, 64, 0.07);
  background: #fff;

  &.notMain {
    @media (max-width: 767px) {
      background: #FFC63F;
    }
  }
}

.top {
  background: $dm-yellow;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.social {
  display: flex;
  margin-left: 8px;

  a {
    display: flex;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    transition: all .2s ease-in-out;

    &:hover {
      background: $dm-pink;
    }
  }

  img {
    margin: auto;
  }
}

.bottom {
  padding: 14px 0;

  @include media-breakpoint-down(lg) {
    padding: 5px 0;
  }
}

.logos {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  img {
    max-height: 26px;
    margin: 0 6px;
  }
}

.menu {
  @include media-breakpoint-down(lg) {
    display: none;
  }

  a {
    text-decoration: none;
    color: #060807;
    margin-left: 25px;

    &.active {
      color: $dm-pink;
    }
  }
}

.menuButton {
  background: none;
  border: none;
  padding: 0;
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
  }

  @include media-breakpoint-down(sm) {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  &.notMainButton {
    @media (max-width: 767px) {
      path {
        fill: #fff;
      }
    }
  }
}
