@import "../../../../../assets/styles/variables";

.block {
  position: sticky;
  top: 110px;
  overflow: hidden;
}

.item {
  background: rgba(248, 248, 248, 0.5);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 12px;
  text-decoration: none !important;
  color: #444444 !important;
  text-transform: uppercase;
  position: relative;

  &.active {
    background: $dm-pink;
    color: #fff !important;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 23px 10px 23px 0;
      border-color: transparent $dm-pink transparent transparent;
    }

    .icon {
      img {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }
  }

  &:hover {
    background: $dm-pink;
    color: #fff !important;

    .icon {
      img {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }
  }

  span {
    padding-top: 1px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;

  img {
    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }
}
