@import "../../../assets/styles/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.item {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: #060807;
  position: relative;

  &:hover {
    text-decoration: none;
    color: #060807;
  }

  &.direction {
    .image {
      &.small {
        flex: 0 0 200px;
      }
    }

    .title {
      height: 120px;
    }

    .date {
      bottom: 90px;
    }
  }
}

.image {
  flex: 1;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    flex: 0 0 200px;
  }

  &.small {
    flex: 0 0 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.date {
  right: -8px;
  bottom: 114px;

  @include media-breakpoint-down(lg) {
    bottom: 80px;
  }
}

.title {
  background: url("../../../assets/images/news-overlay.svg");
  background-size: cover;
  display: flex;
  height: 153px;
  position: relative;
  line-height: 1.2;
  padding: 10px 25px 0;
  font-weight: 600;
  margin: -8px 0 0;

  @include media-breakpoint-down(lg) {
    height: 120px;
  }

  //&:before {
  //  content: "";
  //  width: 100%;
  //  height: 15px;
  //  background: url("images/main-news__title.png");
  //  background-size: 100% 100%;
  //  position: absolute;
  //  top: -15px;
  //  left: 0;
  //}

  span {
    margin: auto;
  }
}
