@import "../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.block {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;

  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.image {
  position: relative;

  img {
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #303030;
    opacity: .4;
  }
}

.title {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;

  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }
}

.date {
  right: -8px;
  bottom: 74px;
}

.address {
  background: linear-gradient(90deg, #FDBE17 0%, #F79223 100%);
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  line-height: 1.2;
  padding: 10px 25px;
  font-weight: 600;
  color: #060807;

  &:before {
    content: "";
    width: 100%;
    height: 15px;
    background: url("./images/main-news__title.png");
    background-size: 100% 100%;
    position: absolute;
    top: -15px;
    left: 0;
  }

  img {
    margin-right: 20px;
  }
}
