@import "../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";

.block {
  background: $dm-dark;
  border-top: 3px solid $dm-yellow;
  padding-top: 60px;

  @include media-breakpoint-down(lg) {
    border-top: 0;
    padding-top: 0;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.linkList {
  a {
    display: table;
    text-decoration: none;
    color: #C4C4C4;
    line-height: 1.4;
    margin-bottom: 9px;
    transition: $transition-base;
    font-weight: 300;
    
    &:hover {
      color: #fff;
    }
  }
}

.subscribeDesktop {
  margin-top: 25px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 0 40px;

  a {
    margin: 0 25px 25px 0;
    border-radius: 50%;
    overflow: hidden;

    img {
      max-width: 50px;
    }
  }
}

.social {
  a {
    display: inline-flex;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    opacity: .5;
    margin-right: 10px;
    transition: $transition-base;

    img {
      margin: auto;
    }

    &:hover {
      opacity: 1;
      background: $dm-pink;
    }
  }
}

.subscribe {
  background: linear-gradient(90deg, #FD3358 0%, #945DFF 100%);
  text-align: center;
  padding: 30px 20px 40px;
  margin-bottom: 50px;
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
  }

  @media (max-width: 650px) {
    margin-bottom: 0;
  }
}

.copyright {
  margin-top: 45px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #373737;
  font-size: 12px;
  color: #C4C4C4;
  font-weight: 300;

  @include media-breakpoint-down(xl) {
    margin-top: 30px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    border-top: 0;
  }
}
