$grid-gutter-width: 16px;

$grid-breakpoints: (
  xs: 0,
  sm: 650px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$container-max-widths: (
  md: 720px,
  lg: 1024px,
  xl: 1280px
);

$transition-base: all .3s ease-in-out;

$dm-yellow: #FDBE17;
$dm-pink: #FD3358;
$dm-dark: #212121;
