@import "variables";
@import '~bootstrap/scss/bootstrap.scss';
@import "modules/slick-custom";
@import "modules/day-picker-custom";
@import "modules/vanillatoasts-custom";

@import "fonts";

html {
  @media (max-width: 767px) {
    font-size: 13px;
  }
}

body {
  font-family: "ProximaNova", sans-serif;
  color: #444444;
}

button,
input,
select {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.container {
  padding-left: 40px;
  padding-right: 40px;

  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@import "modules/main-blocks";
@import "modules/main-news";
@import "modules/flagship-carousel";
@import "modules/general";
@import "modules/buttons";
@import "modules/modal";
@import "modules/opportunity-block";
@import "modules/media-block";
@import "modules/news-slider-mobile";
@import "modules/about-page";
@import "modules/news-list-page";
@import "modules/news-detail-page";
@import "modules/flagship-page";
@import "modules/opportunity-page";
@import "modules/territory-page";
@import "modules/direction-page";
@import "modules/search-page";
@import "modules/mobile-menu";
@import "modules/mobile-directions";
